.clipBtnWrapper {
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0px !important;

  p {
    font-size: 16px;
    font-weight: 500;
  }

  button {
    border: none;
    background: #4527a4;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: #4527a4;
      color: #ffffff;
    }
  }
}
