$primaryColor: #4527a4;

// Dashicon
.dashicons {
  font-family: dashicons !important;
}

// Block Directory
.wp-block-business-card {
  text-align: center;

  * {
    box-sizing: border-box;
  }

  .bcbBusinessCard {
    // width: 560px;
    // height: 320px;
    max-width: 100%;
    display: inline-block;

    &.theme1,
    &.theme2 {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;

      .contacts {
        max-width: 50%;
      }
    }

    &.theme2 {
      align-items: flex-start;
      flex-direction: row-reverse;
    }

    .header {
      display: grid;
      height: min-content;

      .name,
      .title {
        margin: 0 0 5px 0;
        text-align: initial;
        width: auto;
      }

      .separator {
        text-align: initial;
        display: inline-block;
      }
    }

    .contacts {
      .contact {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 0;

        &:not(:last-child) {
          margin-bottom: 8px;
        }

        .icon {
          font-size: 18px;
          font-style: normal;
          width: 34px;
          height: 34px;
          // background: #ddd;
          padding: 8px;
          border-radius: 50%;
        }

        .text {
          width: calc(100% - 50px);
          margin: 0;
          text-align: left;
        }
      }
    }
  }

  .theme3 {
    // width: 400px;
    height: 240px;
    // border-radius: 16px;
    overflow: hidden;
    // box-shadow: 0 10px 25px #00000033;

    .bcb-card-main {
      width: 100%;
      height: 100%;
      display: flex;

      /* Left content area */
      .bcb-card-content {
        width: 66.66%;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;

        .header {
          .name {
            // font-size: 22px;
            // font-weight: 700;
            margin-bottom: 6px;
            // background: transparent;
            // border: none;
            // color: inherit;
            // width: 100%;
          }

          .title {
            // font-size: 13px;
            opacity: 0.9;
            margin-bottom: 8px;
            // background: transparent;
            // border: none;
            // color: inherit;
            // width: 100%;
          }
          .tagline {
            font-size: 0.75rem;
            font-style: italic;
            opacity: 0.8;
            margin: 0px;
          }

          // .separator {
          //   display: block;
          //   width: 40px;
          //   height: 2px;
          //   background: rgba(255, 255, 255, 0.5);
          //   margin-top: 6px;
          // }
        }

        .contacts {
          // font-size: 11px;

          .contact {
            display: flex;
            align-items: center;
            gap: 6px;
            margin-top: 8px;
            cursor: pointer;

            .icon {
              font-size: 12px;
              font-style: normal;
              width: fit-content;
              height: fit-content;
              padding: 0;
            }

            .text {
              flex: 1;
              // font-size: 11px;
            }
          }
        }
      }

      /* Sidebar */
      .card-sidebar {
        width: 33.33%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: #1e40af;

        .sidebar-content {
          text-align: center;
          padding: 8px;

          .company {
            width: 100%;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 8px;
            text-align: center;
          }

          .social-icons {
            display: flex;
            gap: 8px;
            justify-content: center;

            .social-icon {
              font-size: 16px;
              a {
                margin: 0;
                padding: 0;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
